<!-- Book generated using mdBook -->
<meta charset="UTF-8">
<title>{{ title }} - {{ book_title }}</title>

<!-- Custom HTML head -->
{{#each additional_css}}
<link rel="stylesheet" href="{{../path_to_root}}{{this}}">
{{/each}}

{{#if additional_js}}
{{#each additional_js}}
<script src="{{../path_to_root}}{{this}}"></script>
{{/each}}
{{/if}}

<meta name="description" content="{{description}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#ffffff">
<meta name="generator" content="mdBook">
<meta name="version" content="4.2.0">

<link rel="icon" href="{{path_to_root}}favicon.svg">
<link rel="shortcut icon" href="{{path_to_root}}favicon.png">
<link rel="stylesheet" href="{{path_to_root}}css/variables.css">
<link rel="stylesheet" href="{{path_to_root}}css/general.css">
<link rel="stylesheet" href="{{path_to_root}}css/chrome.css">
<link rel="stylesheet" href="{{path_to_root}}css/print.css" media="print">

<!-- Fonts -->
<link rel="stylesheet" href="{{path_to_root}}FontAwesome/css/font-awesome.css">
<link rel="stylesheet" href="{{path_to_root}}fonts/fonts.css">

<!-- Highlight.js Stylesheets -->
<link rel="stylesheet" id="highlight-css" href="{{path_to_root}}highlight.css">
<link rel="stylesheet" id="tomorrow-night-css" href="{{path_to_root}}tomorrow-night.css">
<link rel="stylesheet" id="ayu-highlight-css" href="{{path_to_root}}ayu-highlight.css">

<!-- Custom theme stylesheets -->
{{#each additional_css}}
<link rel="stylesheet" href="{{../path_to_root}}{{this}}">
{{/each}}

{{#if mathjax_support}}
<!-- MathJax -->
<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{{/if}}